@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;

}

/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
}

/* Estilo para o modo escuro */
body.dark-mode {
  background-color: #333;
  color: #F2F2F2;
}

/* Botão para alternar o modo */
.dark-mode-toggle {
  display: none; /* Escondemos o checkbox */
}

.dark-mode-toggle:checked + body {
  background-color: #333;
  color: #F2F2F2;
}

icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.dark-mode-icon {
  display: block;
}

.light-mode-icon {
  display: none;
}

/* Cor do texto principal */
body, h1, h2, p {
    color: #333;
}

header {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between; /* Espaça o logo e o menu */
    align-items: center; /* Alinha verticalmente */
    height: 50vw;
    min-height: 400px;
    max-height: 550px;
    min-width: 300px;
    color: white;
    padding: 20px;

}

.header:after{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0.12) 40%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0); backface-visibility: hidden;
  scale(1.0, 1.0);
    transform: translateZ(0);
  background:#f2f2f2 url(/capa.webp) 50% 0 no-repeat;
  background-size:100%;
  background-attachment:fixed;
  animation: grow 360s  linear 10ms infinite;
  transition:all 0.4s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}

.menu{
  display: inline-block; /* Alterar para inline-block para que os links fiquem lado a lado */
  margin: 0 15px; /* Adiciona espaço entre os links */
  text-decoration: none;
  color: #fff;
}

.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}

.menu-btn {
    font-size: 30px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px;
    margin-right: 20px; /* Espaçamento opcional para o botão de menu */
    padding: 0;
}

/* Oculta o menu por padrão */
.menu-list {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px; /* Abaixo do botão de menu */
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro */
    padding: 20px;
    border-radius: 5px;
}

/* Links do menu */
.menu-list a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block; /* Cada link ocupa uma linha */
}

/* Menu visível quando ativado */
.menu-list.open {
    display: flex; /* Exibe o menu quando o botão é clicado */
}

.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-flex;
  align-items:center;
  align-content:center;
  margin:20px;
  margin-left: 20px; /* Espaçamento opcional para o logo */
  padding:0px 10px;
  font-weight:900;
  font-size:1.1em;
  line-height:1;
  box-sizing:border-box;
  height:40px
}

.sides, .info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Espaçamento entre os itens */
}

.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}
.author{
  display:inline-block;
  width:50px;
  height:50px;
  border-radius:50%;
  background:url(https://i.imgur.com/6DLCsZcb.jpg) center no-repeat;
  background-size:cover;
  box-shadow:0 2px 3px rgba(0,0,0,0.3);
  margin-bottom:3px
}
.info h4, .meta{
  font-size:0.7em
}
.meta{
  font-style:italic;
}
@keyframes grow{
  0% { transform: scale(1) translateY(0px)}
  50% { transform: scale(1.2) translateY(-400px)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}.btn.twtr:after{content:"\1F426";padding-left:5px}

.container {
  max-width: 1280px; /* Largura máxima do container */
  margin: 0 auto; /* Centraliza o container na página */
}

.capa {
  width: 100%; /* Ocupa toda a largura disponível */
  height: auto; /* A altura se ajusta automaticamente para manter as proporções */
  object-fit: cover; /* A imagem preenche todo o container, possivelmente cortando as bordas */
}

main {
  margin-top: 300px; /* Espaço para a capa */
}

.nav {
  position: fixed;
  top: 0; /* Positions the menu at the top of the page */
  left: 0; /* Positions the menu at the left edge of the page */
  width: 100%; /* Makes the menu span the entire width of the viewport */
  background-color: #fff; /* Optional: Set a background color for the menu */
  z-index: 999; /* Optional: Ensure the menu stays above other elements */
  text-align: center;
  margin: 0 auto;
}

.dark-mode-container {
  margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 20px;
    text-align: center;
}

#about {
   background-color: #F2F2F2;
    padding: 50px 20px;
    display: block;
}

/* Ajuste para telas menores */
@media (max-width: 768px) {
    #about {
        background-size: cover; /* Continua a cobrir o contêiner */
        padding: 40px 15px;
        min-height: 15vh; /* Altura mínima um pouco menor */
    }
}

@media (max-width: 480px) {
    #about {
        background-size: cover; /* Continua a cobrir o contêiner */
        padding: 30px 10px;
        min-height: 15vh; /* Altura mínima ainda menor para dispositivos pequenos */
    }
}

.titulo {
  text-align: center; /* Centraliza o texto */
  background-color: #D6D6D6; /* Cor de fundo da div */
  padding: 10px;
  border-radius: 10px; /* Arredonda as bordas */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Cria a sombra */
}

/* Estilo padrão dos links */
a {
    color: #007BFF; /* Cor azul mais vibrante */
    text-decoration: none;
    transition: color 0.3s ease; /* Transição suave ao mudar de cor */
}

/* Cor dos links ao passar o mouse (hover) */
a:hover {
    color: #333; /* Cor diferente ao passar o mouse */
    text-decoration: none; /* Adiciona sublinhado ao passar o mouse */
}

/* Cor dos links já visitados */
a:visited {
    color: none; /* Cor roxa para links visitados */
}

/* Cor dos links ao serem clicados (active) */
a:active {
    color: #0056b3; /* Cor vermelha ao clicar no link */
}

#projects {
    background-color: #F2F2F2;
    padding: 50px 20px;
}

.project-card img {
    width: 100%; /* Largura total do contêiner */
    max-height: 100%; /* Altura fixa para as imagens */
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover; /* Cobre o contêiner sem distorcer */
}

/* Container de Projetos */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaço entre os projetos */
    padding: 20px;
}

/* Cartão de Projeto */
.project-card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px; /* Largura fixa para os cartões */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s box-shadow 0.3s ease; /* adicione essa linha */;
    position: relative; /* Para posicionar a descrição sobre a imagem */

}

.project-card:hover {
    transform: scale(1.05); /* Efeito hover para aumentar o cartão */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* adicione essa linha */
    filter: brightness(0.7); /* escurece a imagem em 30% */
}

.project-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.6); /* Reduz a opacidade */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Adiciona sombra */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-family: Arial, sans-serif; /* Utiliza uma fonte sans-serif */
}

.project-card:hover .project-description {
    opacity: 1;
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    color: #666;
}

@media (max-width: 768px) {
    /* Em telas menores, os projetos ficam em coluna */
    .projects-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Estilo para o blog de projetos */
#blog-post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#blog-post h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Imagem em destaque */
.project-hero {
    width: 100%;
    margin-bottom: 30px;
}

.project-hero img {
    width: 100%;
    border-radius: 10px;
}

/* Conteúdo do artigo */
.project-content {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #333;
}

.project-content h3 {
    margin-top: 30px;
    font-size: 1.8rem;
    color: #007bff;
}

/* Galeria de imagens do projeto */
.project-gallery {
    display: flex;
    gap: 15px;
    margin: 20px 0;
}

.project-gallery img {
    width: 100%;
    max-width: 250px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.project-gallery img:hover {
    transform: scale(1.05);
}

#social-media-projects {
   padding: 50px 20px;
    text-align: center;
}

#social-media-projects h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

    
.back-button {
    display: inline-block;
    margin: 0px auto;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
}

.back-button:hover {
    background-color: #006CE0;
}

#contato {
    text-align: center;
    margin-top: 50px;
}

#contato h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    font-size: 2rem;
    color: #007bff; /* Cor padrão dos ícones */
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: #0056b3; /* Cor ao passar o mouse sobre o ícone */
}


#back-to-top {
    display: none; /* Escondido inicialmente */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#back-to-top:hover {
    background-color: #0056b3;
}

/* Carrossel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
}

.carousel-img {
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-img.active {
  display: block;
  opacity: 1;

}

.carousel-img.inactive {
  display: none;
}

.carousel-img:first-child {
    display: block; /* A primeira imagem do carrossel é exibida inicialmente */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
  max-width: 80%;
  max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .carousel-img {
        padding: 40px 15px;
        min-height: 15vh; /* Altura mínima um pouco menor */
    }
}

@media (max-width: 480px) {
    .carousel-img {
        padding: 30px 10px;
        min-height: 15vh; /* Altura mínima ainda menor para dispositivos pequenos */
    }
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
